* {
    font-family: 'Noto Sans', sans-serif;
}

/* HEADER */

.menu{
    height: 80px;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}
nav {

    position: fixed;
    z-index: 1000;
    top: 0px;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    height: 80px;
    background: #ffffff;
    color: #000;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    margin: 0;
    background-color: #ffffff;
    color: #000;
    display: flex;
    list-style: none;
    padding: 20px 20px 0px 20px;
    margin-right: 270px;
}
nav .mainMenu li a {
    position: relative;
    display: inline-block;
    padding: 8px;
    margin: 0px 0px 30px 10px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    opacity: 80%;
}
nav .mainMenu li a:hover {
    font-size: 18px;
    opacity: 120%;
}
nav .openMenu {
    position: relative;
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .UserMenu{
    position: absolute;
    top: 10px;
    right: 115px;
    font-size: 55px;
    display:block;
    cursor: pointer;
}
nav .mainMenu .closeMenu, .icons i  {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.UserMenu i{
    display: block;
}


nav .logo {
    margin: 6px;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;

}
.logoImagen{

    width: 47px;
    height: 45px;
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-top: 20px;
}
@media(max-width: 1160px){

    nav {
        width: 100%;
        height: 80px;
        background: #ffffff;
        color: #000;
        display: flex;
        justify-content: space-between;
    }
    .logoImagen{
        position: absolute;
        top: 7px;
        right: 20px;
        width: 47px;
        height: 45px;
        display: flex;
        align-items: center;
        margin: 10px;
    }
    nav .logo {
        position: absolute;
        margin: 0px;
        right: 100px;
        top: -15px;
        font-size: 20px;
        cursor: pointer;

    }

    nav .mainMenu {
        padding: 0px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        transition: top 1s ease;
        display: none;
        margin: 0px;
    }
    nav .mainMenu .closeMenu  {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .UserMenu{
        display: none;
    }

    nav .mainMenu li a {
        display: block;
        position: relative;
        padding:10px ;
        text-decoration: none;
        color: #000;
        font-size: 18px;
        margin: 0px 20px 40px 30px;
    }

    .icons i{
        position: absolute;
        display: inline-block;
        padding: 0px;
        margin-right: 0px;
        left: 20px;
        font-size: 26px;
    }

}
@media(max-width: 600px){

    .logoImagen{
        position: absolute;
        top: 7px;
        right: 20px;
        width: 47px;
        height: 45px;
        display: flex;
        align-items: center;
        margin: 10px;
    }
    nav .logo {
        position: absolute;
        margin: 0px;
        right: 100px;
        top: -20px;
        font-size: 25px;
        cursor: pointer;

    }

    nav .mainMenu {
        padding: 0px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        transition: top 1s ease;
        display: none;
        margin: 0px;
    }
    nav .mainMenu .closeMenu  {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .UserMenu{
        display: none;
    }

    nav .mainMenu li a {
        display: block;
        position: relative;
        padding:10px ;
        text-decoration: none;
        color: #000;
        font-size: 18px;
        margin: 0px 20px 40px 30px;
    }

    .icons i{

        position: absolute;
        display: inline-block;
        padding: 0px;
        margin-right: 0px;
        left: 20px;
        font-size: 26px;
    }

}


/* HERO PAGE */

.hero {
    position: relative;
    justify-content: center;
    max-width: 1440px;
    height: 790px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .fondo-hero{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/fondo-hero.png);
}

.hero h1 {
    position: absolute;
    width: 476px;
    height: 257px;
    left: 120px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 67px;
    line-height: 91px;
    color: #FFFFFF;
}

.hero a.btn {
    /*boton*/
    position: absolute;
    width: 175px;
    height: 45px;
    left: 120px;
    top: 620px;

    /*letras*/
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;

    background: rgba(248, 215, 27, 0.86);
    border-radius: 5px;
}

@media (max-width: 1160px){
    .hero {
        height: 500px;
    }
    .hero .fondo-hero{
        height: 500px; 
    }
    .hero h1 {
        width: 263px;
        height: 136px;
        left: 60px;
        font-size: 36px;
        line-height: 50px;
    }
    .hero a.btn{
        left: 60px;
        top: 372px;
    }
}

@media (max-width: 600px){
    .hero {
        height: 297px; 
    }
    .hero .fondo-hero{
        height: 297px; 
    }
    .hero h1 {
        width: 162px;
        height: 92px;
        left: 20px;
        font-size: 24px;
        line-height: 33px;
    }
    .hero a.btn{
        /*boton*/
        position: absolute;
        width: 162px;
        height: 40px;
        left: 20px;
        top: 241px;

        font-size: 14px;
    }
}
/* ¿POR QUE ELEGIR ENMODA? */
#por_que_elegir_enmoda { 
    max-width: 1440px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#por_que_elegir_enmoda_container {
    width: 30% 70%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-areas: "titulo"
                         "beneficios";
    grid-template-rows: 120px 350px;
    
}

#por_que_elegir_enmoda_title { grid-area: titulo; }

#por_que_elegir_enmoda_title > p {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    width: 350px;
    height: 120px;
}

#por_que_elegir_enmoda_beneficios {
    grid-area: beneficios;
    display: flex;
    justify-content: space-between;
}

#por_que_elegir_enmoda_logo{
    height: 240px;
    width: 270px;
    float: left;
    margin-top: 30px;
    margin-right: 150px;
}
#por_que_elegir_enmoda_variedad_de_prendas {
    height: 269px;
    width: 240px;
    float: left;
}
#por_que_elegir_enmoda_delivery_rapido{
    height: 269px;
    width: 240px;
    float: left;
}

#por_que_elegir_enmoda_metodos_de_pago{
    height: 269px;
    width: 240px;
    float: left;
    margin-top: 55px;
}
#por_que_elegir_enmoda_variedad_de_prendas_descripcion,
#por_que_elegir_enmoda_metodos_de_pago_descripcion,
#por_que_elegir_enmoda_delivery_rapido_descripcion{
    background: rgba(31, 31, 31, 0.92);
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#por_que_elegir_enmoda_variedad_de_prendas_descripcion > p,
#por_que_elegir_enmoda_metodos_de_pago_descripcion > p,
#por_que_elegir_enmoda_delivery_rapido_descripcion > p {
    color: white;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
}

#por_que_elegir_enmoda_logo{
    display: grid;
    grid-template-areas: "foto"
                         "logo";
    grid-template-rows: 240px 150px;   
    grid-template-columns: 270px; 
}
#por_que_elegir_enmoda_variedad_de_prendas,
#por_que_elegir_enmoda_delivery_rapido {
    display: grid;
    grid-template-areas: "foto"
                         "beneficio";
    grid-template-rows: 214px 55px;  
}

#por_que_elegir_enmoda_metodos_de_pago  {
    display: grid;
    grid-template-areas: "beneficio"
                         "foto";
    grid-template-rows: 55px 214px;    
}

#por_que_elegir_enmoda_logo_foto { 
background-image: url(../img/logo-enmoda.png);
margin-top: 50px;
margin-left: 70px;
}
#por_que_elegir_enmoda_variedad_de_prendas_foto 
{background-image: url(../img/porque-elegir-enmoda-variedad-de-prendas.png);}
#por_que_elegir_enmoda_metodos_de_pago_foto 
{ background-image: url(../img/porque-elegir-enmoda-metodos-de-pago.png);}
#por_que_elegir_enmoda_delivery_rapido_foto 
{ background-image: url(../img/porque-elegir-enmoda-delivery-rapido.png); }

@media (max-width: 1160px) {
    #por_que_elegir_enmoda { 
        height: 750px;
    }
    #por_que_elegir_enmoda_container {
        width: 585px;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
        display: grid;
        grid-template-areas: "titulo"
                             "beneficios";
        grid-template-rows: 50px 600px;
    }
    
    #por_que_elegir_enmoda_title { 
        grid-area: titulo; 
        height: 90px;
        width: 561px;
        justify-content:left;
    }
    #por_que_elegir_enmoda_title > p {
        font-style: normal;
        font-weight: bold;
        line-height: 65px;
        width: 561px;
        height: 60px;
        margin-left: 20px;
        margin-right: auto;
        margin-top: auto;
        justify-content:left;
    }
    #por_que_elegir_enmoda_beneficios {

        width: 585px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        justify-content: left;
        grid-template-columns: 10% 40% 40%;
        grid-template-rows: 0% 0%;

    }
    #por_que_elegir_enmoda_logo{
        width: 0px;
        height: 0px;
        float: right;
    }
    #por_que_elegir_enmoda_metodos_de_pago{
        height: 289px;
        width: 200px;
        float: left;
        margin-right: 0%;
        margin-left: 40px;
        margin-bottom: 0%;
        display: grid;
        grid-template-areas: "beneficio"
                             "foto";
        grid-template-rows: 0px 414px;   
    }
    #por_que_elegir_enmoda_metodos_de_pago_descripcion {
        height: 55px;
        width: 240px;
        margin-top:215px;
    }

    #por_que_elegir_enmoda_variedad_de_prendas {
        height: 269px;
        width: 240px;
        float: center;
        margin-right: 0%;
        margin-left: auto;
        margin-top: 55px;
    }
  
    #por_que_elegir_enmoda_delivery_rapido {
        margin-left: 190px;
        margin-right: 0px;
        float: center;
        margin-top: 350px;
    }

#por_que_elegir_enmoda_logo{
    margin-left: 220px;
    margin-right: auto;
    float: none;
    column-width: 20px;
}
    #por_que_elegir_enmoda_logo_foto 
    { background-image: url(); }
    #por_que_elegir_enmoda_metodos_de_pago_foto {
     background-image: url(../img/porque-elegir-enmoda-metodos-de-pago.png); 
     margin-bottom: 200px;
    }
    #por_que_elegir_enmoda_delivery_rapido_foto { background-image: url(../img/porque-elegir-enmoda-delivery-rapido.png);
     }
}
@media (max-width: 600px) {
    #por_que_elegir_enmoda { 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    height: 630px; 
    }
    #por_que_elegir_enmoda_container {
        width: 350px;
        height: 550px;
        grid-template-rows: 30px 400px;
        justify-content: center;
    }
    #por_que_elegir_enmoda_title { 
        grid-area: titulo; 
        height: 30px;
        margin-left: 0px;
        margin-right: 0px;
        width: 350px;
    }
    #por_que_elegir_enmoda_title > p {
        font-style: normal;
        font-weight: bold;
        line-height: 65px;
        width: 350px;
        height: 30px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    #por_que_elegir_enmoda_beneficios {
        width: 350px;
        height: 650px;
        display: grid;
        grid-template-columns: 90%;
        grid-row-gap: 10px;
        grid-template-rows: 0% 24% 24% 24%;
        justify-content: center;
    }
    #por_que_elegir_enmoda_metodos_de_pago_descripcion {
        height: 55px;
        width: 167px;
        margin-top: 0px;
        margin-right: 0px;
    }
    #por_que_elegir_enmoda_metodos_de_pago {
        height: 167px;
        width: 334px;
        grid-template-areas: "foto" "beneficio";
        grid-template-rows: repeat(1, 167px);
        grid-template-columns: 167px 167px; 
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }
    #por_que_elegir_enmoda_variedad_de_prendas{
        height: 167px;
        width: 334px;
        grid-template-areas: "beneficio" "foto";
        grid-template-rows: repeat(1, 167px);
        grid-template-columns: 167px 167px; 
        margin-right: auto;
        margin-left:  atuo;  
        margin-top: 0%;
        margin-bottom: 0%;
    }
    #por_que_elegir_enmoda_delivery_rapido {
        height: 167px;
        width: 334px;
        grid-template-areas: "beneficio" "foto";
        grid-template-rows: repeat(1, 167px);
        grid-template-columns: 167px 167px; 
        margin-right: auto;
        margin-left:  auto; 
        margin-top: 0%;
        margin-bottom: 0%;
    }

    #por_que_elegir_enmoda_variedad_de_prendas_descripcion,
    #por_que_elegir_enmoda_metodos_de_pago_descripcion,
    #por_que_elegir_enmoda_delivery_rapido_descripcion {
       height: 55px; 
       margin-top: auto;
       margin-bottom: auto; 
    }
    #por_que_elegir_enmoda_variedad_de_prendas_descripcion > p,
    #por_que_elegir_enmoda_metodos_de_pago_descripcion > p,
    #por_que_elegir_enmoda_delivery_rapido_descripcion > p {
        font-size: 14px;
    }
    #por_que_elegir_enmoda_logo,
    #por_que_elegir_enmoda_logo_foto{
        width: 0%;
        height: 0%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0%;
        margin-right: 0%;
    }
    #por_que_elegir_enmoda_variedad_de_prendas_foto 
    { background-image: url(../img/porque-elegir-enmoda-variedad-de-prendas-mobile.png); }
    #por_que_elegir_enmoda_metodos_de_pago_foto 
    {  margin-bottom: 0px;
        background-image: url(../img/porque-elegir-enmoda-metodos-de-pago-mobile.png); }
    #por_que_elegir_enmoda_delivery_rapido_foto
    { background-image: url(../img/porque-elegir-enmoda-delivery-rapido-mobile.png); }
}
/* NOSOTROS */
.Nosotros h1
{
    font-weight: bold;
    position: absolute;
    width: 360px;
    height: 298px;
    left: 60px;
    top: 66px; 

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
}
.Nosotros p
{
    position: absolute;
    width: 360px;
    height: 141px;
    left: 60px;
    top:164px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}
.Nosotros a{
    color: #111111;
    position: absolute;
    width: 142px;
    height: 29px;
    left: 169px;
    top: 335px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;

}

.Nosotros .Nosotros-cuadro
{
    background-image: url(../img/Nosotros.png);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 550px;
    max-width: 1440px;  
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
}

.Nosotros .texto-Nosotros
{
    background-color: rgba(255, 255, 255, 0.9);
    position:absolute;
    width: 480px;
    height: 450px;
    right: 60px;
    top: auto;  
}

@media (max-width: 1160px) {
   .Nosotros .Nosotros-cuadro
   {
       height: 440px;
   }

   .Nosotros .texto-Nosotros
   {
       height: 328px;
       width: 350px; 
   }

   .Nosotros h1
   {
       font-size: 32px;
       line-height: 49px;
       width: 167px;
       height: 44px;
       top: 53px;
       left: 25px;
   }
   
   .Nosotros p 
   {
       font-size: 16px;
       line-height: 22px;
       width: 301px;
       height: 108px;
       top: 110px;
       left: 25px;
   }

   .Nosotros a
   {
        font-size: 16px;
        line-height: 22px;
        width: 113px;
        height: 19px;
        top: 250px;
        left: 119px;
   }
}

@media (max-width: 600px)
{
    .Nosotros .Nosotros-cuadro
    {
        height: 280px;
    }
 
    .Nosotros .texto-Nosotros
    {
        height: 174px;
        width: 167px; 
    }
 
    .Nosotros h1
    {
        font-size: 16px;
        line-height:22px;
        width: 73px;
        height: 22px;
        top: 19px;
        left: 13px;
    }
    
    .Nosotros p 
    {
        font-size: 9px;
        line-height: 12px;
        width: 142px;
        height: 72px;
        top: 50px;
        left: 13px;
    }
 
    .Nosotros a
    {
        font-size: 9px;
        line-height: 12px;
        width: 66px;
        height: 10px;
        top: 139px;
        left: 51px;
    }
}

/* COMO FUNCIONA */

#como_funciona { 
    max-width: 1440px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#como_funciona_container {
    width: 83.333333%;
    height: 373px;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-areas: "titulo"
                         "pasos";
    grid-template-rows: 104px 269px;
}

#como_funciona_title { grid-area: titulo; }

#como_funciona_title > p {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
}

#como_funciona_pasos {
    grid-area: pasos;
    display: flex;
    justify-content: space-between;
}

#como_funciona_registrate,
#como_funciona_busca,
#como_funciona_compra,
#como_funciona_recibe {
    height: 269px;
    width: 240px;
    float: left;
}

#como_funciona_registrate_paso,
#como_funciona_busca_paso,
#como_funciona_compra_paso,
#como_funciona_recibe_paso {
    background: rgba(31, 31, 31, 0.92);
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#como_funciona_registrate_paso > p,
#como_funciona_busca_paso > p,
#como_funciona_compra_paso > p,
#como_funciona_recibe_paso > p {
    color: white;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
}

#como_funciona_registrate,
#como_funciona_compra {
    display: grid;
    grid-template-areas: "foto"
                         "paso";
    grid-template-rows: 214px 55px;    
}

#como_funciona_busca,
#como_funciona_recibe {
    display: grid;
    grid-template-areas: "paso"
                         "foto";
    grid-template-rows: 55px 214px;    
}

#como_funciona_busca_paso { grid-area: paso; }
#como_funciona_busca_foto { grid-area: foto; }

#como_funciona_recibe_paso { grid-area: paso; }
#como_funciona_recibe_foto { grid-area: foto; }

#como_funciona_registrate_foto { background-image: url(../img/como-funciona-registrate.png); }
#como_funciona_busca_foto { background-image: url(../img/como-funciona-busca.png); }
#como_funciona_compra_foto { background-image: url(../img/como-funciona-compra.png); }
#como_funciona_recibe_foto { background-image: url(../img/como-funciona-recibe.png); }

@media (max-width: 1160px) {
    #como_funciona { 
        height: 800px;
    }
    
    #como_funciona_container {
        height: 667px;
        grid-template-rows: 104px 563px;
    }

    #como_funciona_pasos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row-gap: 25px;
    }

    #como_funciona_busca,
    #como_funciona_recibe {
        grid-template-areas: "foto"
                            "paso";
        grid-template-rows: 214px 55px;    
    }

    #como_funciona_registrate,
    #como_funciona_busca,
    #como_funciona_compra,
    #como_funciona_recibe {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}

@media (max-width: 600px) {
    #como_funciona { height: 800px; }

    #como_funciona_container {
        width: 89.333333%;
        height: 740px;
        grid-template-rows: 40px 700px;
    }

    #como_funciona_pasos {
        display: grid;
        justify-content: center;
        grid-template-columns: 100%;
        grid-row-gap: 10px;
    }

    #como_funciona_title > p {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    #como_funciona_registrate,
    #como_funciona_compra {
        height: 167px;
        width: 334px;
        grid-template-areas: "foto" "paso";
        grid-template-rows: repeat(1, 167px);
        grid-template-columns: 167px 167px; 
    }

    #como_funciona_busca,
    #como_funciona_recibe {
        height: 167px;
        width: 334px;
        grid-template-areas: "paso" "foto";
        grid-template-rows: repeat(1, 167px);
        grid-template-columns: 167px 167px; 
    }

    #como_funciona_busca_foto { grid-area: auto; }
    #como_funciona_recibe_foto { grid-area: auto; }

    #como_funciona_registrate_paso,
    #como_funciona_busca_paso,
    #como_funciona_compra_paso,
    #como_funciona_recibe_paso {
       height: 55px; 
       margin-top: auto;
       margin-bottom: auto;
    }

    #como_funciona_registrate_paso > p,
    #como_funciona_busca_paso > p,
    #como_funciona_compra_paso > p,
    #como_funciona_recibe_paso > p {
        font-size: 14px;
    }

    #como_funciona_registrate_foto { background-image: url(../img/como-funciona-registrate-mobile.png); }
    #como_funciona_busca_foto { background-image: url(../img/como-funciona-busca-mobile.png); }
    #como_funciona_compra_foto { background-image: url(../img/como-funciona-compra-mobile.png); }
    #como_funciona_recibe_foto { background-image: url(../img/como-funciona-recibe-mobile.png); }
}

/* IMAGENES DE ROPA */


.contenedor{
    position: relative;
    top: 0px;
    max-width: 1440px;
    width: 90%;
    height: 550px;
    /*margin: 5px 25px;*/
    margin: auto;

}
.imagenes{
    height: 500px;
    width: 360px;
    padding: 0px;
    margin: 0px;
}

.contenedor .buy-btn{
    position: absolute;
    top: 430px;
    margin-left: 86px;
    text-decoration: none;
    width:140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #909090;
    color:#ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 5px;
}
.buy-btn:hover{
    color:#FFFFFF;
    background-color:#F8D71B;
    transition: all ease 0.3s;
}

.carousel__contenedor{
    position: relative;
}
.carousel__anterior,
.carousel__siguiente{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #000000;
    opacity: 20%;
}
.carousel__anterior:hover,
.carousel__siguiente:hover{
    opacity: 100%;
}

.carousel__anterior{
    left: -30px;
}
.carousel__siguiente{
    right: -30px;
}
.carousel__lista{
    overflow: hidden;
}
.carousel__indicadores .glider-dot{
    display: block;
    width: 30px;
    height: 4px;
    background: #111111;
    border-radius: 0;
}
.carousel__indicadores .glider-dot:hover{
    opacity: 1;
}
.carousel__indicadores .glider-dot.active{
    opacity: .9;
}

@media screen and (max-width: 600px){
    .contenedor{

        width: 430px;
        margin-left: auto;
        top: 0px;
        height: 650px;
        margin: auto;
        padding: 20px;
    }
    .imagenes{
        top: 0px;
        width: 430px;
        height:  550px;
    }
    .contenedor .buy-btn {
        position: relative;
        top: -85px;
        left: 45px;
        text-align: center;

    }

}

@media screen and (max-width: 1160px){


}

/*RESEÑAS*/

/*caja de comentarios*/
#reseñas {
    max-width: 1440px;
    height: min-content;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#reseñas_container {
    width: 83.333333%;
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: "titulo titulo"
                         "reseñas comenta";
    grid-template-rows: 75px 1fr;
    grid-template-columns: 60% 40%;
}

#reseñas_title {
    grid-area: titulo;
}

#reseñas_title > p {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
}

#reseñas_comentarios_container { grid-area: reseñas; }

#reseñas_comentarios {
    display: flex;
    flex-direction: column;
}

#reseñas_comentarios_title,
#reseñas_comentarios_ver_mas {
    display: none;
}

#reseñas_comentario_uno,
#reseñas_comentario_dos,
#reseñas_comentario_tres,
#reseñas_comentario_cuatro {
    height: min-content;
    width: 100%;
    display: grid;
    grid-template-areas: "foto nombre estrellas fecha" 
                         "foto contenido contenido contenido";
    grid-template-columns: 100px 180px 1fr 100px;
    grid-template-rows: 50px 1fr;
    background: #F4F4F4;
    border-radius: 8px;
    margin-bottom: 25px;
}

#reseñas_comentario_uno_foto,
#reseñas_comentario_dos_foto,
#reseñas_comentario_tres_foto,
#reseñas_comentario_cuatro_foto { 
    grid-area: foto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 70px;
    height: 70px;
}

#reseñas_comentario_uno_foto { background-image: url(../img/imagen-comentario-1.png); }
#reseñas_comentario_dos_foto { background-image: url(../img/imagen-comentario-2.png); }
#reseñas_comentario_tres_foto { background-image: url(../img/imagen-comentario-3.png); }
#reseñas_comentario_cuatro_foto { background-image: url(../img/imagen-comentario-4.png); }

#reseñas_comentario_uno_nombre,
#reseñas_comentario_dos_nombre,
#reseñas_comentario_tres_nombre,
#reseñas_comentario_cuatro_nombre {
    grid-area: nombre;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    margin-top: auto;
    margin-bottom: auto;
}

#reseñas_comentario_uno_estrellas,
#reseñas_comentario_dos_estrellas,
#reseñas_comentario_tres_estrellas,
#reseñas_comentario_cuatro_estrellas {
    grid-area: estrellas;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: auto;
    width: 181px;
    height: 28px;
}

#reseñas_comentario_uno_estrellas,
#reseñas_comentario_dos_estrellas {
    background-image: url(../img/cinco-estrellas-marcadas.png);
}

#reseñas_comentario_tres_estrellas,
#reseñas_comentario_cuatro_estrellas {
    background-image: url(../img/cuatro-estrellas-marcadas.png);
}

#reseñas_comentario_uno_fecha,
#reseñas_comentario_dos_fecha,
#reseñas_comentario_tres_fecha,
#reseñas_comentario_cuatro_fecha {
    grid-area: fecha;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: auto;
    margin-bottom: auto;
    justify-self: right;
    padding-right: 15px;
}

#reseñas_comentario_uno_contenido,
#reseñas_comentario_dos_contenido,
#reseñas_comentario_tres_contenido,
#reseñas_comentario_cuatro_contenido {
    grid-area: contenido;
    padding-right: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

/*Formulario de comenta*/
#reseñas_comenta {
    width: 360px;
    height: 480px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: "titulo"
                         "nombres"
                         "apellidos"
                         "comentario"
                         "estrellas"
                         "publicar";
    grid-template-rows: 50px 67px 67px 165px 50px 1fr;
}

#reseñas_comenta_title { grid-area: titulo; }
#reseñas_input_nombres { grid-area: nombres; }
#reseñas_input_apellidos { grid-area: apellidos; }
#reseñas_input_comentario { grid-area: comentario; }
#reseñas_califica { grid-area: estrellas; }
#reseñas_boton_publicar { grid-area: publicar}

#reseñas_comenta_title > p {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

#reseñas_input_nombres,
#reseñas_input_apellidos,
#reseñas_input_comentario {
    width: 360px;
    border-radius: 5px;
    border: 1px solid #B5B5B5;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

#reseñas_input_nombres::placeholder,
#reseñas_input_apellidos::placeholder,
#reseñas_input_comentario::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #B5B5B5;
}

#reseñas_input_nombres,
#reseñas_input_apellidos {
    height: 42px;
}

#reseñas_input_comentario {
    height: 150px;
    padding-top: 10px;
    resize: none;
}

#reseñas_califica {
    display: flex;
    align-items: center;
}

#reseñas_califica > span {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #B5B5B5;
    margin-right: 20px;
}

#reseñas_califica > div {
    background-image: url(../img/cinco-estrellas-sin-marcar.png);
    background-repeat: no-repeat;
    width: 181px;
    height: 28px;
    display: inline-block;
}

#reseñas_boton_publicar {
    width: 140px;
    height: 40px;
    justify-self: right;
    background: #F8D71B;
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
}

#reseñas_boton_publicar:active { background: #b49c14; }

@media (max-width: 1160px) {
    #reseñas_container {
        grid-template-areas: "titulo"
                             "comenta"
                             "reseñas";
        grid-template-columns: 100%;
        grid-template-rows: 75px 400px 1fr;
    }

    #reseñas_comenta {
        width: 100%;
        height: 332px;
        grid-template-areas: "titulo titulo titulo"
                             "nombres apellidos apellidos"
                             "comentario comentario comentario"
                             "estrellas estrellas publicar";
        grid-template-columns: 50% 1fr 140px;
        grid-template-rows: 50px 67px 165px 50px;
    }

    #reseñas_input_nombres,
    #reseñas_input_apellidos {
        width: 98%;
    }

    #reseñas_input_apellidos { justify-self: right; }

    #reseñas_input_comentario { width: 100%; }

    #reseñas_boton_publicar {
        margin-top: auto;
        margin-bottom: auto;
    }

    #reseñas_comentarios_title { display: inline }

    #reseñas_comentarios_title > p {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
    }
}

@media (max-width: 700px) {
    #reseñas_container {
        grid-template-areas: "titulo"
                             "comenta"
                             "reseñas";
        grid-template-columns: 100%;
        grid-template-rows: 75px 350px max-content;
    }

    #reseñas_comentario_uno,
    #reseñas_comentario_dos,
    #reseñas_comentario_tres,
    #reseñas_comentario_cuatro {
        height: min-content;
        width: 100%;
        display: grid;
        grid-template-areas: "foto nombre" 
                             "foto fecha"
                             "foto estrellas"
                             "contenido contenido";
        grid-template-columns: 100px 1fr;
        grid-template-rows: 40px 25px 25px min-content;
    }

    #reseñas_comentario_cuatro { display: none; }
    #reseñas_comentarios_ver_mas { display: inline; }

    #reseñas_comentarios_ver_mas > p { 
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        text-decoration: underline;
    }

    #reseñas_comentario_uno_foto,
    #reseñas_comentario_dos_foto,
    #reseñas_comentario_tres_foto,
    #reseñas_comentario_cuatro_foto { 
        width: 80px;
        height: 80px;
        margin-top: 15px;
        margin-left: 15px;
        background-size: cover;
    }

    #reseñas_comentario_uno_nombre,
    #reseñas_comentario_dos_nombre,
    #reseñas_comentario_tres_nombre,
    #reseñas_comentario_cuatro_nombre {
        grid-area: nombre;
        font-size: 21px;
        line-height: 29px;
        margin-top: 15px;

    }

    #reseñas_comentario_uno_fecha,
    #reseñas_comentario_dos_fecha,
    #reseñas_comentario_tres_fecha,
    #reseñas_comentario_cuatro_fecha {
        margin-top: 5px;
        justify-self: left;
    }

    #reseñas_comentario_uno_contenido,
    #reseñas_comentario_dos_contenido,
    #reseñas_comentario_tres_contenido,
    #reseñas_comentario_cuatro_contenido {
        padding: 15px;
    }
}

@media (max-width: 600px) {
    #reseñas_container {
        grid-template-areas: "titulo"
                             "comenta"
                             "reseñas";
        grid-template-columns: 100%;
        grid-template-rows: 30px 270px 1fr;
    }

    #reseñas_title > p {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }

    /*Formulario de comenta*/

    #reseñas_comenta {
        width: 100%;
        height: 246px;
        grid-template-areas: "titulo titulo titulo"
                             "nombres apellidos apellidos"
                             "comentario comentario comentario"
                             "estrellas estrellas publicar";
        grid-template-columns: 50% 1fr 108px;
        grid-template-rows: 30px 45px 121px 50px;
        margin-top: auto;
        margin-bottom: auto;
    }

    #reseñas_comenta_title > p {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
    }

    #reseñas_input_nombres,
    #reseñas_input_apellidos {
        height: 34px;
    }

    #reseñas_input_comentario { height: 121px; }

    #reseñas_input_nombres::placeholder,
    #reseñas_input_apellidos::placeholder,
    #reseñas_input_comentario::placeholder {
        font-size: 12px;
        line-height: 16px;
    }

    #reseñas_califica > span {
        font-size: 12px;
        line-height: 16px;
    }

    #reseñas_califica > div {
        background-image: url(../img/cinco-estrellas-sin-marcar-mobile.png);
        width: 140px;
        height: 20px;
    }
       
    #reseñas_boton_publicar {
        width: 108px;
        height: 34px;
        font-size: 14px;
        line-height: 19px;
    }
    
    /*comentarios*/

    #reseñas_comentarios_title > p {
        font-size: 14px;
        line-height: 19px;
    }

    #reseñas_comentario_uno,
    #reseñas_comentario_dos,
    #reseñas_comentario_tres,
    #reseñas_comentario_cuatro {
        height: min-content;
        width: 100%;
        display: grid;
        grid-template-areas: "foto nombre" 
                             "foto fecha"
                             "foto estrellas"
                             "contenido contenido";
        grid-template-columns: 70px 1fr;
        grid-template-rows: 25px 20px 18px min-content;
    }

    #reseñas_comentario_cuatro { display: none; }
    #reseñas_comentarios_ver_mas { display: inline; }

    #reseñas_comentario_uno_foto,
    #reseñas_comentario_dos_foto,
    #reseñas_comentario_tres_foto,
    #reseñas_comentario_cuatro_foto { 
        margin-left: 10px;
        margin-top: 10px;
        width: 51px;
        height: 51px;
    }

    #reseñas_comentario_uno_nombre,
    #reseñas_comentario_dos_nombre,
    #reseñas_comentario_tres_nombre,
    #reseñas_comentario_cuatro_nombre {
        font-size: 14px;
        line-height: 19px;
        margin-top: 10px;
        margin-bottom: 0;
    }

    #reseñas_comentario_uno_fecha,
    #reseñas_comentario_dos_fecha,
    #reseñas_comentario_tres_fecha,
    #reseñas_comentario_cuatro_fecha {
        font-size: 14px;
        line-height: 19px;
        margin-top: 3px;
        margin-bottom: auto;
    }
    
    #reseñas_comentario_uno_estrellas,
    #reseñas_comentario_dos_estrellas,
    #reseñas_comentario_tres_estrellas,
    #reseñas_comentario_cuatro_estrellas {
        width: 140px;
        height: 20px;
    }

    #reseñas_comentario_uno_estrellas,
    #reseñas_comentario_dos_estrellas {
        background-image: url(../img/cinco-estrellas-marcadas-mobile.png);
    }
    
    #reseñas_comentario_tres_estrellas,
    #reseñas_comentario_cuatro_estrellas {
        background-image: url(../img/cuatro-estrellas-marcadas-mobile.png);
    }

    #reseñas_comentario_uno_contenido,
    #reseñas_comentario_dos_contenido,
    #reseñas_comentario_tres_contenido,
    #reseñas_comentario_cuatro_contenido {
        font-size: 12px;
        line-height: 16px;
        padding: 10px;
    }
}

/* FOOTER */

.footer {
    position: relative;
    max-width: 1440px;
    height: 430px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background: #1F1F1F;
}

.footer #titulo-formulario-footer{
    width: 388px;
    height: 35px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    margin: auto;
    color: #FFFFFF;
    margin-top: 58px;
}

.footer form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
    max-width: 98%;
    margin: auto;
}

.footer form input{
	padding: 15px;
	flex: 1;
    margin-right: 10px;
	font-size: 18px;
    color: #FFFFFF;
    border-radius: 5px;
    width: 510px;
    height: 51px;
    background: #303030;
    border: none;
}

.footer form a{
	font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.footer a{
    text-decoration: none;
}

.footer form a.btn-footer{
    color: #fff;
    border-radius: 5px;
    background-color: #525252;
    text-align: center;
    height: 51px;
    padding: 13px 54px;
}

.footer .contacto h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}

.footer .contacto{
    position: relative;
    justify-content: space-between;
    height: 90px;
    max-width: 1440px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer #box-contacto {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.footer a{
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 6px;
}

.footer h2{
    font-style: bold;
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer ul{
    list-style: none;
    margin-bottom: 0px;
    margin-left: 0;	
    padding: 0;
}

.footer .contacto .redes-sociales ul{
    display: flex;
}

footer .contacto .redes-sociales ul li{
	margin: 0 7px;	
}

footer .contacto .redes-sociales ul li:first-child{
	margin-left: 0;	
}

footer .contacto .redes-sociales ul li:last-child{
	margin-right: 0;	
}

.footer .copyright{
    background-color:  #303030;
    color: #F3F1F1;
    width: 100%;
    max-width: 1440px;
    height: 45px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    padding: 12px 80px;
    margin-bottom: 0;
}

@media (max-width: 850px) {
    .footer {
        height: 570px;
        display: flex;
        padding: 10px;
    }

    .footer #titulo-formulario-footer{
        width: 390px;
        height: 33px;
        font-size: 24px;
        line-height: 33px;
        margin-top: 35px;
        padding: 0;
    }

    .footer .contacto{
        position: relative;
        justify-content: space-between;
        height: 300px;
        max-width: 1440px;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .footer form input{
        margin-top: 0px;
    }

    .footer .contacto .redes-sociales {
        width: 100%;
        align-items: center;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .footer .copyright {
        padding: 12px 50px;
    }
}

@media (max-width: 605px) {
    .footer {
        height: 700px;
        display: flex;
        padding: 10px;
    }

    .footer #titulo-formulario-footer{
        width: 300px;
        height: 22px;
        font-size: 18px;
        line-height: 22px;
        margin-top: 35px;
        padding: 0;
    }

    .footer form input{
        margin-bottom: 10px;
    }

    .footer form a.btn-footer{
        color: #fff;
        border-radius: 5px;
        background-color: #525252;
        text-align: center;
        height: 51px;
        padding: 13px 54px;
        width: 98%;
        margin-right: 10px;
    }
    .footer .contacto{
        position: relative;
        justify-content: space-between;
        height: 380px;
        max-width: 1440px;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .footer .contacto #box-contacto {
        width: 150px;
        align-items: center;
        margin-bottom: 10px;
    }


    .footer .contacto #box-contacto.redes-sociales {
        width: 100%;
        align-items: center;
        
        margin-bottom: 30px;
    }

    .footer .copyright {
        padding: 12px 30px;
    }
}
