* {
    font-family: 'Noto Sans', sans-serif;
}

/* HEADER */

#header {
    height: 80px;
    width: 100%;
    display: flex;
}

#LogoImage {
    padding: 5px 5px;
    margin-left: 35px;
    width: 45px;
    height: 45px;
    top: 20px;
    left: 30px;
    position: absolute;
}

label.logo{
    color: #000000;
    font-size: 37px;
    line-height: 80px;
    margin-left: 120px;
    font-weight: bold;
}

#navegacion {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: white;
}

nav ul{
    float: right;
    margin-right: 200px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
}

nav ul li a{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #000000;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 0; /*navegations*/
    /*mayus*/
}

.UserIcon{
    color: #000000;
    position: absolute;
    font-size: 50px;
    padding: 5px 100px;
}

a.active,a:hover{
    background: #FFFFFF;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #7F7F7F;
    float: left;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
}

#checkk{
    display: none;
}

@media (max-width: 1320px) {
    label.logo{
        font-size: 30px;
        padding-left: 180px;
        margin-left: 5px;
    }

    #LogoImage{
        margin-left: 350px;
        padding: 5px 0;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .checkbtn{
        display: block;
    }

    #nav-id{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover, a.active{
        background: none;
        color: #000000;
    }

    #checkk:checked ~ ul{
        left: 1px;
    }

    .UserIcon{
        left: 35px;
        bottom: 80px;
        padding: 5px 5px;
    }
}

/* HERO PAGE */

.hero {
    position: relative;
    justify-content: center;
    max-width: 1440px;
    height: 790px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .fondo-hero{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/fondo-hero.png);
}

.hero h1 {
    position: absolute;
    width: 476px;
    height: 257px;
    left: 120px;
    top: 325px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 67px;
    line-height: 91px;
    color: #FFFFFF;
}

.hero a.btn {
    /*boton*/
    position: absolute;
    width: 175px;
    height: 45px;
    left: 120px;
    top: 620px;

    /*letras*/
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;

    background: rgba(248, 215, 27, 0.86);
    border-radius: 5px;
}

@media (max-width: 1160px){
    .hero {
        height: 500px;
    }
    .hero .fondo-hero{
        height: 500px; 
    }
    .hero h1 {
        width: 263px;
        height: 136px;
        left: 60px;
        top: 205px;
        font-size: 36px;
        line-height: 50px;
    }
    .hero a.btn{
        left: 60px;
        top: 372px;
    }
}

@media (max-width: 600px){
    .hero {
        height: 297px; 
    }
    .hero .fondo-hero{
        height: 297px; 
    }
    .hero h1 {
        width: 162px;
        height: 92px;
        left: 20px;
        top: 138px;
        font-size: 24px;
        line-height: 33px;
    }
    .hero a.btn{
        /*boton*/
        position: absolute;
        width: 162px;
        height: 40px;
        left: 20px;
        top: 241px;

        font-size: 14px;
    }
}

/* ¿POR QUE ELEGIR ENMODA? */
#por_que_elegir_enmoda { 
    max-width: 1440px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#por_que_elegir_enmoda_container {
    width: 30% 70%;
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-areas: "titulo"
                         "beneficios";
    grid-template-rows: 104px 269px;
}

#por_que_elegir_enmoda_title { grid-area: titulo; }

#por_que_elegir_enmoda_title > p {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    margin-top: 100px;
}

#por_que_elegir_enmoda_beneficios {
    grid-area: beneficios;
    display: flex;
    justify-content: space-between;
}

#por_que_elegir_enmoda_logo{
    height: 269px;
    width: 250px;
    float: left;
    margin-top: 90px;
    margin-right: 180px;
}
#por_que_elegir_enmoda_variedad_de_prendas {
    height: 269px;
    width: 240px;
    float: left;
}
#por_que_elegir_enmoda_delivery_rapido{
    height: 269px;
    width: 240px;
    float: left;
}

#por_que_elegir_enmoda_metodos_de_pago{
    height: 269px;
    width: 240px;
    float: left;
    margin-top: 55px;
}
#por_que_elegir_enmoda_variedad_de_prendas_descripcion,
#por_que_elegir_enmoda_metodos_de_pago_descripcion,
#por_que_elegir_enmoda_delivery_rapido_descripcion{
    background: rgba(31, 31, 31, 0.92);
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#por_que_elegir_enmoda_variedad_de_prendas_descripcion > p,
#por_que_elegir_enmoda_metodos_de_pago_descripcion > p,
#por_que_elegir_enmoda_delivery_rapido_descripcion > p {
    color: white;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
}

#por_que_elegir_enmoda_logo{
    display: grid;
    grid-template-areas: "foto"
                         "logo";
    grid-template-rows: 240px 150px;   
    grid-template-columns: 270px; 
}
#por_que_elegir_enmoda_variedad_de_prendas,
#por_que_elegir_enmoda_delivery_rapido {
    display: grid;
    grid-template-areas: "foto"
                         "beneficio";
    grid-template-rows: 214px 55px;  
}

#por_que_elegir_enmoda_metodos_de_pago  {
    display: grid;
    grid-template-areas: "beneficio"
                         "foto";
    grid-template-rows: 55px 214px;    
}

#por_que_elegir_enmoda_logo_foto { 
background-image: url(../img/logo-enmoda.png);
margin-top: 50px;
margin-left: 70px;
}
#por_que_elegir_enmoda_variedad_de_prendas_foto { 
background-image: url(../img/porque-elegir-enmoda-variedad-de-prendas.png);
}
#por_que_elegir_enmoda_metodos_de_pago_foto 
{ background-image: url(../img/porque-elegir-enmoda-metodos-de-pago.png);}
#por_que_elegir_enmoda_delivery_rapido_foto 
{ background-image: url(../img/porque-elegir-enmoda-delivery-rapido.png); }

@media (max-width: 1160px) {
    #por_que_elegir_enmoda { 
        height: 1000px;
    }
    #por_que_elegir_enmoda_container {
        height: 667px;
        grid-template-rows: 104px 563px;
    }
    #por_que_elegir_enmoda_beneficios {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row-gap: 25px;
    }
    #por_que_elegir_enmoda_title > p {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 65px;
        margin-top: 0px;
        margin-left: 50px;
    }
    #por_que_elegir_enmoda_logo{
        height: 269px;
        width: 250px;
        float: left;
        margin-top: 0px;
        margin-right: 180px;
    }
    #por_que_elegir_enmoda_metodos_de_pago{
        margin-top: 0px;
    }
    #por_que_elegir_enmoda_metodos_de_pago,
    #por_que_elegir_enmoda_variedad_de_prendas,
    #por_que_elegir_enmoda_delivery_rapido {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}
@media (max-width: 600px) {
    #por_que_elegir_enmoda { height: 800px; }

    #por_que_elegir_enmoda_container {
        width: 89.333333%;
        height: 740px;
        grid-template-rows: 50px 500px;
    }

    #por_que_elegir_enmoda_beneficios {
        display: grid;
        justify-content: center;
        grid-template-columns: 100%;
        grid-row-gap: 10px;
    }

    #por_que_elegir_enmoda_title > p {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    #por_que_elegir_enmoda_metodos_de_pago {
        height: 167px;
        width: 334px;
        grid-template-areas: "foto" "beneficio";
        grid-template-rows: repeat(1, 167px);
        grid-template-columns: 167px 167px; 
    }
    #por_que_elegir_enmoda_variedad_de_prendas,
    #por_que_elegir_enmoda_delivery_rapido {
        height: 167px;
        width: 334px;
        grid-template-areas: "beneficio" "foto";
        grid-template-rows: repeat(1, 167px);
        grid-template-columns: 167px 167px; 
    }
    #por_que_elegir_enmoda_variedad_de_prendas_descripcion,
    #por_que_elegir_enmoda_metodos_de_pago_descripcion,
    #por_que_elegir_enmoda_delivery_rapido_descripcion {
       height: 55px; 
       margin-top: auto;
       margin-bottom: auto;
    }
    #por_que_elegir_enmoda_variedad_de_prendas_descripcion > p,
    #por_que_elegir_enmoda_metodos_de_pago_descripcion > p,
    #por_que_elegir_enmoda_delivery_rapido_descripcion > p {
        font-size: 14px;
    }

    #por_que_elegir_enmoda_logo{
        height: 0.5px;
        width: 0.5px;
    }
    #por_que_elegir_enmoda_logo_foto{
        background-image: url();
    }
    #por_que_elegir_enmoda_variedad_de_prendas_foto 
    { background-image: url(../img/porque-elegir-enmoda-variedad-de-prendas-mobile.png); }
    #por_que_elegir_enmoda_metodos_de_pago_foto 
    { background-image: url(../img/porque-elegir-enmoda-metodos-de-pago-mobile.png); }
    #por_que_elegir_enmoda_delivery_rapido_foto
    { background-image: url(../img/porque-elegir-enmoda-delivery-rapido-mobile.png); }
}
/* NOSOTROS */
.Nosotros h1
{
    font-weight: bold;
    position: absolute;
    width: 360px;
    height: 298px;
    left: 60px;
    top: 66px; 

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
}
.Nosotros p
{
    position: absolute;
    width: 360px;
    height: 141px;
    left: 60px;
    top:164px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}
.Nosotros a{
    color: #111111;
    position: absolute;
    width: 142px;
    height: 29px;
    left: 169px;
    top: 335px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;

}

.Nosotros .Nosotros-cuadro
{
    background-image: url(../img/Nosotros.png);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 550px;
    max-width: 1440px;  
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
}

.Nosotros .texto-Nosotros
{
    background-color: rgba(255, 255, 255, 0.9);
    position:absolute;
    width: 480px;
    height: 450px;
    right: 60px;
    top: auto;  
}

@media (max-width: 1160px) {
   .Nosotros .Nosotros-cuadro
   {
       height: 440px;
   }

   .Nosotros .texto-Nosotros
   {
       height: 328px;
       width: 350px; 
   }

   .Nosotros h1
   {
       font-size: 32px;
       line-height: 49px;
       width: 167px;
       height: 44px;
       top: 53px;
       left: 25px;
   }
   
   .Nosotros p 
   {
       font-size: 16px;
       line-height: 22px;
       width: 301px;
       height: 108px;
       top: 110px;
       left: 25px;
   }

   .Nosotros a
   {
        font-size: 16px;
        line-height: 22px;
        width: 113px;
        height: 19px;
        top: 250px;
        left: 119px;
   }
}

@media (max-width: 600px)
{
    .Nosotros .Nosotros-cuadro
    {
        height: 280px;
    }
 
    .Nosotros .texto-Nosotros
    {
        height: 174px;
        width: 167px; 
    }
 
    .Nosotros h1
    {
        font-size: 16px;
        line-height:22px;
        width: 73px;
        height: 22px;
        top: 19px;
        left: 13px;
    }
    
    .Nosotros p 
    {
        font-size: 9px;
        line-height: 12px;
        width: 142px;
        height: 72px;
        top: 50px;
        left: 13px;
    }
 
    .Nosotros a
    {
        font-size: 9px;
        line-height: 12px;
        width: 66px;
        height: 10px;
        top: 139px;
        left: 51px;
    }
}

/* COMO FUNCIONA */

#como_funciona { 
    max-width: 1440px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#como_funciona_container {
    width: 83.333333%;
    height: 373px;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-areas: "titulo"
                         "pasos";
    grid-template-rows: 104px 269px;
}

#como_funciona_title { grid-area: titulo; }

#como_funciona_title > p {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
}

#como_funciona_pasos {
    grid-area: pasos;
    display: flex;
    justify-content: space-between;
}

#como_funciona_registrate,
#como_funciona_busca,
#como_funciona_compra,
#como_funciona_recibe {
    height: 269px;
    width: 240px;
    float: left;
}

#como_funciona_registrate_paso,
#como_funciona_busca_paso,
#como_funciona_compra_paso,
#como_funciona_recibe_paso {
    background: rgba(31, 31, 31, 0.92);
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#como_funciona_registrate_paso > p,
#como_funciona_busca_paso > p,
#como_funciona_compra_paso > p,
#como_funciona_recibe_paso > p {
    color: white;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
}

#como_funciona_registrate,
#como_funciona_compra {
    display: grid;
    grid-template-areas: "foto"
                         "paso";
    grid-template-rows: 214px 55px;    
}

#como_funciona_busca,
#como_funciona_recibe {
    display: grid;
    grid-template-areas: "paso"
                         "foto";
    grid-template-rows: 55px 214px;    
}

#como_funciona_busca_paso { grid-area: paso; }
#como_funciona_busca_foto { grid-area: foto; }

#como_funciona_recibe_paso { grid-area: paso; }
#como_funciona_recibe_foto { grid-area: foto; }

#como_funciona_registrate_foto { background-image: url(../img/como-funciona-registrate.png); }
#como_funciona_busca_foto { background-image: url(../img/como-funciona-busca.png); }
#como_funciona_compra_foto { background-image: url(../img/como-funciona-compra.png); }
#como_funciona_recibe_foto { background-image: url(../img/como-funciona-recibe.png); }

@media (max-width: 1160px) {
    #como_funciona { 
        height: 800px;
    }
    
    #como_funciona_container {
        height: 667px;
        grid-template-rows: 104px 563px;
    }

    #como_funciona_pasos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row-gap: 25px;
    }

    #como_funciona_busca,
    #como_funciona_recibe {
        grid-template-areas: "foto"
                            "paso";
        grid-template-rows: 214px 55px;    
    }

    #como_funciona_registrate,
    #como_funciona_busca,
    #como_funciona_compra,
    #como_funciona_recibe {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}

@media (max-width: 600px) {
    #como_funciona { height: 800px; }

    #como_funciona_container {
        width: 89.333333%;
        height: 740px;
        grid-template-rows: 40px 700px;
    }

    #como_funciona_pasos {
        display: grid;
        justify-content: center;
        grid-template-columns: 100%;
        grid-row-gap: 10px;
    }

    #como_funciona_title > p {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    #como_funciona_registrate,
    #como_funciona_compra {
        height: 167px;
        width: 334px;
        grid-template-areas: "foto" "paso";
        grid-template-rows: repeat(1, 167px);
        grid-template-columns: 167px 167px; 
    }

    #como_funciona_busca,
    #como_funciona_recibe {
        height: 167px;
        width: 334px;
        grid-template-areas: "paso" "foto";
        grid-template-rows: repeat(1, 167px);
        grid-template-columns: 167px 167px; 
    }

    #como_funciona_busca_foto { grid-area: auto; }
    #como_funciona_recibe_foto { grid-area: auto; }

    #como_funciona_registrate_paso,
    #como_funciona_busca_paso,
    #como_funciona_compra_paso,
    #como_funciona_recibe_paso {
       height: 55px; 
       margin-top: auto;
       margin-bottom: auto;
    }

    #como_funciona_registrate_paso > p,
    #como_funciona_busca_paso > p,
    #como_funciona_compra_paso > p,
    #como_funciona_recibe_paso > p {
        font-size: 14px;
    }

    #como_funciona_registrate_foto { background-image: url(../img/como-funciona-registrate-mobile.png); }
    #como_funciona_busca_foto { background-image: url(../img/como-funciona-busca-mobile.png); }
    #como_funciona_compra_foto { background-image: url(../img/como-funciona-compra-mobile.png); }
    #como_funciona_recibe_foto { background-image: url(../img/como-funciona-recibe-mobile.png); }
}

/* IMAGENES DE ROPA */

.slider{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width:360px;
    height: 550px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
}

.slide-img{
    height: 550px;
    width: 360px;
    position:relative;
}

.slide-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.type{
    display: flex;
    flex-direction: column;
}

.type #btn{
    color:#222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}

.type span{
    color:rgba(26,26,26,0.5);
}

.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 220px;
    align-items: center;

}

.buy-btn{
    text-decoration: none;
    width:140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #909090;
    color:#ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.buy-btn:hover{
    color:#FFFFFF;
    background-color:#F8D71B;
    transition: all ease 0.3s;
}

.overlay{
    visibility: hidden;
}

.slide-img:hover .overlay{
    visibility: visible;
    animation:fade 0.5s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* RESEÑAS */

/* FOOTER */
